<!DOCTYPE html>
<html lang="en">

<head>
  <%- include( config.rootPath + "/app/views/partials/head.ejs" ); %>
  <title><%- title = "nPod" _%></title>
  <style>
    .square { height: 90px; width: 90px; margin-top: 1.25em; }
  </style>
</head>

<body>

<%- include( config.rootPath + "/app/views/partials/navbar.ejs" ); _%>

<header>
  <h1>
    <span class="prefix hidden"><%=title%>: </span>
    <span>Library</span>
  </h1>
</header>

<div class="container">

  <div class="row mt-3">
    <h5 class="col-12 text-center">Select Zone</h5>
    <div class="col text-center">
      <div class="btn-group">
        <button type="button" onclick="floorClick(floorB1)" class="btn btn-primary">Basement</button>
        <button type="button" onclick="floorClick(floor0)" class="btn btn-primary">Ground Floor</button>
        <button type="button" onclick="floorClick(floor1)" class="btn btn-primary">Second Floor</button>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-12 text-center my-2">
      <span>Available: <img src="/img/green.jpg" width="15">&nbsp;</span>
      <span>Full: <img src="/img/red.jpg" width="15">&nbsp;</span>
      <span>(Error: <img src="/img/orange.jpg" width="15">)</span>
    </div>
    <div id="lastUpdate" class="col-8 text-right"></div>
    <div id="refresh" class="col-4 text-left"></div>
  </div>

  <div class="row collapse" id="collapseB1"> <!--basement-->
    <div class="col text-center">
      <img class="square" id="B1pod0" src="/img/orange.jpg" alt="orange.jpg"></img>
      <h2>B1_POD_0</h2>
      <img class="square" id="B1pod1" src="/img/orange.jpg" alt="orange.jpg"></img>
      <h2>B1_POD_1</h2>
    </div>
  </div>
  <div class="row collapse" id="collapse0"> <!--ground floor-->
    <div class="col text-center">
      <img class="square" id="F0pod0" src="/img/orange.jpg" alt="orange.jpg"></img>
      <h2>F0_POD_0</h2>
      <img class="square" id="F0pod1" src="/img/orange.jpg" alt="orange.jpg"></img>
      <h2>F0_POD_1</h2>
    </div>
    <div class="col text-center">
      <img class="square" id="F0pod2" src="/img/orange.jpg" alt="orange.jpg"></img>
      <h2>F0_POD_2</h2>
      <img class="square" id="F0pod3" src="/img/orange.jpg" alt="orange.jpg"></img>
      <h2>F0_POD_3</h2>
    </div>
  </div>
  <div class="row collapse" id="collapse1"> <!--second floor-->
    <div class="col text-center">
      <img class="square" id="F1pod0" src="/img/orange.jpg" alt="orange.jpg"></img>
      <h2>F1_POD_0</h2>
      <img class="square" id="F1pod1" src="/img/orange.jpg" alt="orange.jpg"></img>
      <h2>F1_POD_1</h2>
    </div>
    <div class="col text-center">
      <img class="square" id="F1pod2" src="/img/orange.jpg" alt="orange.jpg"></img>
      <h2>F1_POD_2</h2>
      <img class="square" id="F1pod3" src="/img/orange.jpg" alt="orange.jpg"></img>
      <h2>F1_POD_3</h2>
    </div>
  </div>

</div>
<script src="/js/nPodApp.js"></script>

</body>
</html>
