/* body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
}

button {
  padding: 0 30px;
  line-height: 60px;
  font-weight: bold;
  background: salmon;
}

button:hover {
  background: lightsalmon;
}

#buttonDiv {
  float: right;
} */

.floor_plan {
  width:600px;
}
